<!DOCTYPE html>
<html lang="en">
<head>
    <script src="\Public\Home\script\jquery-3.2.1\jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>用户注册</h2>
<form method="post">
    <input type="text" name="username" class="uname" placeholder="用户名" value="123"/><br /><br />
    <input type="text" name="code" class="code" placeholder="验证码"/>&nbsp;&nbsp;&nbsp;
    <input type="button" class="send" value="发送验证码"><br /><br />
    <input type="password" name="pwd" class="pwd" placeholder="密码"><br /><br />
    <!--<input type="password" name="pwd" class="pwd" placeholder="确认密码"><br /><br />-->
    <input type="submit" class="commit" >
</form>
<script>

    $('.send').click(function () {

        var name = $("input[name='username']").val();

        $.ajax({
            url:'Register/send',
            type:"post",
            data:{"name":name},
            dataType:"json",
            success:function ($data) {

            }
        })
    })


</script>
</body>
</html>